    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a href="{{@blog.url}}">Home</a>
        <a href="{{@blog.url}}/About/">About</a>
        <a href="{{@blog.url}}/tag/ideas/">Ideas</a>
        <a href="{{@blog.url}}/tag/projects/">Projects</a>
        <a href="{{@blog.url}}/tag/snippets/">Inklings</a>
    </nav>
