    <ul>
        <li style="display:inline;"><a href="{{@blog.url}}">Home</a></li>
        <li style="display:inline;"><a href="{{@blog.url}}/About/">About</a></li>
        <li style="display:inline;"><a href="{{@blog.url}}/tag/ideas/">Ideas</a></li>
        <li style="display:inline;"><a href="{{@blog.url}}/tag/projects/">Projects</a></li>
        <li style="display:inline;"><a href="{{@blog.url}}/tag/inklings/">Inklings</a></li>
    </ul>
